<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<p>In order to update your profile, please verify your current username and password.</p>
			</div>
			<form name="credVerificationForm" ng-submit="$close(credVerificationForm)">
				<div>
					<label for="username">Current Username: </label>
					<input name="username" type="text" class="form-control" 
						ng-model="credVerificationForm.currentUsername" 
						required />
				</div>
				<div>
					<label for="password">Current Password: </label>
					<input name="password" type="password" class="form-control" 
						ng-model="credVerificationForm.currentPassword" 
						required />
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>