<div class="page-header text-center">
	<h1>Profile for {{loggedinUser.username}}</h1>
	<p>If this is not you, please <a href="" ng-click="logout()">logout</a>.</p>
</div>
<div class="row">
	<div class="col-md-12">
		<form>
			<div class="form-group">
				<label for="firstName">First Name: </label>
				<input type="text" name="firstName" 
					class="form-control" 
					ng-model="loggedinUser.firstName" />
			</div>
			<div class="form-group">
				<label for="lastName">Last Name: </label>
				<input type="text" name="lastName" 
					class="form-control" 
					ng-model="loggedinUser.lastName" />
			</div>
			<div class="form-group">
				<label for="email">Email: </label>
				<input type="text" name="email" 
					class="form-control" 
					ng-model="loggedinUser.email" />
			</div>
			<div class="form-group">
				<label for="username">Username: </label>
				<input type="text" name="username" 
					class="form-control" 
					ng-model="loggedinUser.username" />
			</div>
			<button class="btn btn-primary" 
				ng-click="vm.openModal()">
				Update Profile
			</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h4>My Listings</h4>
		</div>
	</div>
	<div class="col-md-12">
		<button class="btn btn-success"
			ng-click="vm.goToAddListing()">
			<icon class="fa fa-plus"></icon>
			 New Listing
		</button>
		<p ng-if="!vm.listings">
			<em>You have no listings yet</em>
		</p>
		<ul ng-if="vm.listings"
			ng-repeat="listing in vm.listings">
			<li>[repeat listings]</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h4>My Application Template</h4>
		</div>
	</div>
	<div class="col-md-12">
		<button class="btn btn-success"
			ng-if="!vm.appTemplate" 
			ng-click="vm.goToAddAppTemplate()">
			<icon class="fa fa-plus"></icon>
			 New Application Template
		</button>
		<button class="btn btn-primary"
			ng-if="vm.appTemplate" 
			ng-click="vm.goToEditAppTemplate()">
			<icon class="fa fa-minus"></icon>
			 Edit Application Template
		</button>
	</div>
</div>