<div class="container">
	<div class="page-header text-center">
		<h1>Register</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form name="vm.registerForm" 
				ng-submit="vm.register()" 
				ng-hide="vm.message">
				<div class="form-group">
					<label for="firstName">First Name: </label>
					<input type="text" name="firstName" 
						class="form-control" 
						ng-model="vm.firstName" />
				</div>
				<div class="form-group">
					<label for="lastName">Last Name: </label>
					<input type="text" name="lastName" 
						class="form-control" 
						ng-model="vm.lastName" />
				</div>
				<div class="form-group">
					<label for="email">Email: </label>
					<input type="email" name="email" 
						class="form-control" 
						ng-model="vm.email" 
						required />
					<span class="form-error"
						ng-if="vm.error && vm.form.email.$invalid">
						Please enter an email address.
					</span>
				</div>
				<div class="form-group">
					<label for="username">Username: </label>
					<input type="text" name="username" 
						class="form-control" 
						ng-model="vm.username" 
						required />
					<span class="form-error"
						ng-if="vm.error && vm.form.username.$invalid">
						Please choose a username.
					</span>
				</div>
				<div class="form-group">
					<label for="password">Password: </label>
					<input type="password" name="password" 
						class="form-control" 
						ng-model="vm.password" 
						required />
					<span class="form-error"
						ng-if="vm.error && vm.form.password.$invalid">
						Please enter a password.
					</span>
					<span class="form-error"
						ng-if="vm.error && vm.form.password.errorMsg">
						{{vm.form.password.errorMsg}}
					</span>
				</div>
				<div class="form-group">
					<label for="passwordRepeat">Repeat Password: </label>
					<input type="password" name="passwordRepeat" 
						class="form-control" 
						ng-model="vm.passwordRepeat" 
						required />
					<span class="form-error"
						ng-if="vm.error && vm.form.passwordRepeat.$invalid">
						Please repeat password.
					</span>
					<span class="form-error"
						ng-if="vm.error && vm.form.passwordRepeat.errorMsg">
						{{vm.form.passwordRepeat.errorMsg}}
					</span>
				</div>
				<button type="submit" 
					class="btn btn-primary">
					Register
				</button>
			</form>
			<span class="form-success"
				ng-if="vm.message">
				You have successfully registered!
			</span>
		</div>
	</div>
</div>